li {display:inline}

html *
{
   font-size: 4vw;
   color: #000 !important;
   font-family: Arial !important;
}
p {margin: 2px 0px;
   font-size: 0.5em;}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }
  table {
   border-collapse: collapse;
   width: 100%;
 }
 
 th {
   height: 50px;
 }
 .close {
  /* color: #ccc; */
  float: right;
  font-size: 30px;
  /* color: #fff; */
}