@media only screen and (min-width: 600px) {
  body {
    width:75%;
    margin:auto;
  }
}

li {display:inline}

html *
{
   font-size: 4vw;
   color: #000 !important;
   font-family: Arial !important;
}
p {margin: 2px 0px;
   font-size: 0.5em;}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    font-size: 0.9em;
  }
  table {
   border-collapse: collapse;
   width: 100%;
 }
 
 th {
   height: 50px;
 }
 .close {
  /* color: #ccc; */
  float: right;
  font-size: 30px;
  /* color: #fff; */
}
h1 {border: 1px solid black;}